body {
  background-color: rgb(111, 187, 93);
  font: normal 1.563em/1.38 Avenir-Light;
  color: rgb(255, 255, 255);
}

.element {
  float: left;
}

.element .element {
  position: relative;
  width: 487px;
  height: 383px;
  background-color: rgb(230, 230, 230);
}

.element .text {
  position: absolute;
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  position: fixed;
  width: 25%;
  height: 47px;
  border-radius: 3px;
  background-color: rgba(222, 222, 222, 0);
  text-align: center;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

._button:hover {
  color: rgba(255, 255, 255, 0.72);
}

.container-1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 28;
  width: 100%;
  height: 75px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.31);
  background-color: rgb(100, 186, 80);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.34);
}

.container-2 {
  position: relative;
  z-index: 26;
  width: 1158px;
  height: 683px;
  margin: 476px auto 0;
}

.container-3 {
  width: 100%;
  height: 190px;
  margin: 0 auto;
}

.container-4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 25;
  width: 100%;
  height: 190px;
}

.container-5 {
  position: relative;
  float: left;
  clear: both;
  z-index: 21;
  width: 64.25%;
  height: 346px;
  margin: -45px 0 0 209px;
}

.element-1 {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 383px;
  margin-top: 75px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

.element-10 {
  position: relative;
  z-index: 16;
  width: 80px;
  height: 70px;
  margin: -271px 0 0 87.63231%;
  background: url('../images/Layer%201.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-11 {
  position: relative;
  z-index: 18;
  width: 88px;
  height: 77px;
  margin: -163px 0 0 648px;
  background: url('../images/Layer%203.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-12 {
  position: relative;
  z-index: 20;
  width: 65px;
  height: 77px;
  margin: -48px 0 0 77px;
  background: url('../images/Layer%204.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-13 {
  position: relative;
  clear: both;
  z-index: 0;
  width: 100%;
  height: 34px;
  margin-top: 49px;
  background-color: rgba(0, 0, 0, 0.16);
}

.element-4 {
  position: relative;
  clear: both;
  z-index: 9;
  width: 4px;
  height: 107px;
  margin: -100px 0 0 581px;
  background-color: rgb(255, 255, 255);
}

.element-5 {
  position: relative;
  z-index: 10;
  width: 100px;
  height: 100px;
  margin: -92px 0 0 76px;
  background: url('../images/Layer%208.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.element-6 {
  width: 100px;
  height: 100px;
  margin: -92px 0 0 80px;
  background: url('../images/attvector.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-7 {
  width: 118px;
  height: 100px;
  margin: -92px 0 0 78px;
  background: url('../images/Layer%207.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.element-3,
.element-8 {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 36px 0 0 23px;
  border-radius: 66px;
  background-color: rgb(255, 255, 255);
}

.element-9 {
  position: relative;
  z-index: 14;
  width: 21.7898832684%;
  height: 312px;
  margin: 3px 0 0 66px;
  background: url('../images/Path%206%20+%20Path%207%20+%20Path%208.png') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.text-1 {
  top: 252px;
  left: 61px;
  z-index: 2;
  font-family: PierSans-Bold;
  font-size: 1.68em;
  color: rgb(111, 187, 93);
}

.text-10 {
  position: relative;
  float: left;
  z-index: 19;
  width: 390px;
  margin: -37px 0 0 26.41339%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-11 {
  position: relative;
  z-index: 27;
  width: 24.0833333333%;
  margin: 59px auto 0;
  font-family: PierSans;
  font-size: 2.52em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-2 {
  top: 57px;
  left: 61px;
  z-index: 1;
  font-family: PierSans-Bold;
  font-size: 1.68em;
  color: rgb(82, 82, 82);
}

.text-3 {
  top: 0;
  bottom: 0;
  left: 537px;
  z-index: 4;
  width: 55.25%;
  height: 255px;
  margin: auto 0;
  padding-left: 39px;
  border-left: 3px solid rgb(255, 255, 255);
  font: 1.16em/1.78 SourceCodePro-Regular;
  color: rgba(255, 255, 255, 0.94);
  word-break: normal;
}

.text-4 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  width: 100px;
  margin: auto;
  padding-top: 31px;
  font: 1.96em/1 PierSans;
  text-align: center;
  color: rgb(100, 186, 80);
}

.text-5 {
  position: relative;
  float: left;
  z-index: 8;
  width: 46.398503274%;
  margin: 66px 0 0 42px;
  font-family: 'Pier Sans';
  font-size: 1.36em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.text-6 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 22;
  width: 100px;
  margin: auto;
  padding-top: 30px;
  font: 1.96em/1 PierSans;
  text-align: center;
  color: rgb(100, 186, 80);
}

.text-7 {
  float: left;
  width: 589px;
  margin: 66px 0 0 42px;
  font-family: 'Pier Sans';
  font-size: 1.36em;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.text-8 {
  position: relative;
  float: left;
  clear: both;
  z-index: 15;
  width: 55.5123216601%;
  margin: -266px 0 0 26.41339%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.text-9 {
  position: relative;
  float: left;
  z-index: 17;
  width: 53.7634408602%;
  margin: -154px 0 0 26.41339%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

._button-1 {
  top: 11px;
  left: 75%;
  z-index: 32;
  padding-top: 10px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
}

._button-2 {
  top: 11px;
  left: 50%;
  z-index: 31;
  padding-top: 10px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.5);
}

._button-3 {
  top: 11px;
  left: 25%;
  z-index: 30;
  padding-top: 10px;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.72);
}

._button-4 {
  top: 13px;
  left: 0;
  z-index: 29;
  padding-top: 6px;
  font-size: 1.08em;
  color: rgba(0, 0, 0, 0.5);
}

@media(max-width: 1097px) {
  .element .element {
    width: 44.3938012762%;
  }

  .container .container-4 {
    position: relative;
    z-index: 25;
  }

  .container .container-5 {
    position: relative;
    z-index: 21;
    margin-top: -30px;
  }

  .container .element-10 {
    position: relative;
    z-index: 16;
    margin-top: -268px;
  }

  .container .element-11 {
    position: relative;
    z-index: 18;
    margin-top: -160px;
  }

  .container .element-12 {
    position: relative;
    z-index: 20;
    margin-top: -52px;
  }

  .container .element-4 {
    position: relative;
    z-index: 9;
  }

  .container .element-5 {
    position: relative;
    z-index: 10;
  }

  .container .element-9 {
    position: relative;
    z-index: 14;
    margin-top: 0;
  }

  .container .text-10 {
    position: relative;
    z-index: 19;
    margin-top: -34px;
  }

  .container .text-5 {
    position: relative;
    z-index: 8;
  }

  .container .text-8 {
    position: relative;
    z-index: 15;
    margin-top: -263px;
  }

  .container .text-9 {
    position: relative;
    z-index: 17;
    margin-top: -139px;
  }

  .container-2 {
    position: relative;
    z-index: 26;
  }

  .element .text-1,
  .element .text-2 {
    left: 12.5256673511%;
  }

  .element .text-3 {
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    width: 55.6061987237%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 22px;
    padding-right: 10px;
    border-left-width: 0;
    border-left-style: none;
  }

  .element .text-4,
  .element .text-6 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .element-1 {
    position: relative;
    z-index: 5;
    height: auto;
  }

  .element-13 {
    position: relative;
    z-index: 0;
    margin-top: 59px;
  }

  .text-11 {
    position: relative;
    z-index: 27;
    margin-top: 54px;
  }
}

@media(max-width: 839px) {
  body {
    font-size: 1.563em;
  }

  .container .container-4 {
    position: relative;
    z-index: 25;
  }

  .container .container-5 {
    position: relative;
    z-index: 21;
  }

  .container .element-10 {
    position: relative;
    z-index: 16;
  }

  .container .element-11 {
    position: relative;
    z-index: 18;
  }

  .container .element-12 {
    position: relative;
    z-index: 20;
  }

  .container .element-4 {
    position: relative;
    z-index: 9;
  }

  .container .element-5 {
    position: relative;
    z-index: 10;
  }

  .container .element-9 {
    position: relative;
    z-index: 14;
  }

  .container .text-10 {
    position: relative;
    z-index: 19;
  }

  .container .text-5 {
    position: relative;
    z-index: 8;
  }

  .container .text-8 {
    position: relative;
    z-index: 15;
  }

  .container .text-9 {
    position: relative;
    z-index: 17;
  }

  .container-2 {
    position: relative;
    z-index: 26;
  }

  .element .text-1 {
    top: 240px;
    left: 12.5225489784%;
    font-size: 1.4em;
  }

  .element .text-2 {
    top: 75px;
    left: 12.5225489784%;
    font-size: 1.4em;
  }

  .element .text-3 {
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.8em;
  }

  .element .text-4,
  .element .text-6 {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .element-1 {
    position: relative;
    z-index: 5;
  }

  .element-13 {
    position: relative;
    z-index: 0;
  }

  .text-11 {
    position: relative;
    z-index: 27;
  }
}